.jumbotron {
    background-color: saddlebrown;
    padding: 50px;
    /* width: 92%; */
    text-align: center;
    color: white;
    margin: 10px, auto;
}

.card-header {
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

.card {
    width: 100%;
}
